* {
    margin: 0;
}

header {
    padding: 4rem;
    background-color: lightcoral;
}

nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    align-items: flex-end;
    gap: .8rem;
}
